<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>mine</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" href="css/index2.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">

</head>
<body>
<div id="fullpage">
	<div class="section first"  >
		<div ng-app="todoApp" ng-controller="todoCtrl" class='todos'>
			<section class="todoapp">
				<div class="header">
					<h1>每日计划</h1>
					<!--输入任务的input-->
					<form  ng-submit="addTodo()">
						<input class="new-todo" ng-model="todo" placeholder="What needs to be done?" autofocus>
					</form>
				</div>
				<!-- This section should be hidden by default and shown when there are todos -->
			<section class="main">
				<!--全选切换-->
				<input ng-hide="!todoList.length" class="toggle-all"  ng-click="changeToggleAll()" type="checkbox" ng-model="toggleAll">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">
					<!-- These are here just to show the structure of the list items -->
					<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
					<!--editing是修改状态-->
					<!--completed是已完成的状态-->
					<li todo-focus ng-repeat="todo in todoList |filter:completedStatus track by $index " ng-class="{completed:todo.completed,editing:todo==edtingTodo}">
						<div class="view">
							<input ng-click="saveTodo()" class="toggle" type="checkbox" ng-model="todo.completed">
							<label  ng-dblclick="editTodo(todo)" ng-bind="todo.text"> </label>
							<!--<label ng-dblclick="editTodo(todo)">{{todo.text}}</label>-->
							<button class="destroy" ng-click="delTodo(todo)"></button>
						</div>
						<input class="edit" ng-blur="saveTodo()"  ng-model="todo.text">
					</li>
				</ul>
			</section>
			<!-- This footer should hidden by default and shown when there are todos -->
			<footer  ng-hide="!todoList.length" class="footer">
				<!-- This should be `0 items left` by default -->
				<!--已完成的数量-->
				<span class="todo-count"><strong ng-bind="todoCount"></strong> item left</span>
				<!-- Remove this if you don't implement routing -->
				<!--状态切换的选择标签-->
				<ul class="filters">
					<li>
						<a ng-click="changeStatus('all')" ng-class="{selected:completedStatus.completed==undefined}" href="#/">All</a>
					</li>
					<li>
						<a ng-click="changeStatus('active')"  ng-class="{selected:completedStatus.completed==false}"  href="#/active">Active</a>
					</li>
					<li>
						<a ng-click="changeStatus('completed')" ng-class="{selected:completedStatus.completed==true}" href="#/completed">Completed</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<!--清除掉所有已完成的状态-->
				<button ng-click="clearCompleted()" ng-show="isShowCompleted" class="clear-completed">Clear completed</button>
			<!-- </footer> -->
			</section>
			<footer  class="info">
				<p>完成每日计划</p>
				<p>Fighting!!!</p>
				<p>{{time|date:'yyyy-MM-dd HH:mm:ss'}}</p>
			</footer>
		</div>
	</div>
</div>
</body>




<!-- 第一屏angular部分引包 -->
<script type="text/javascript" src='js/angular.min.js'></script>
<script type="text/javascript" src='js/angular-locale_zh-cn.js'></script>
<script src="js/service.js"></script>
<script src="js/directive.js"></script>
<script src="js/app.js"></script>


<!-- jq及插件 -->
<!-- <script type="text/javascript" src='js/jquery-3.1.0.js'></script> -->




</html>